{{define "base" }}
    <!doctype html>
    <html lang="en">

    {{template "header" .}}

    <body class="microservice-app">
        <div class="page-container">
            <main class="content-wrapper">
                {{block "content" .}}
                {{end}}
            </main>

        </div>

        {{block "js" .}}
        {{end}}
    </body>
    </html>
{{end}}
